.maintenance(ng-init='getRequests()')
    .container-fluid
        .row
            .col-sm-10.col-sm-offset-1
                .panel.panel-default
                    .panel-heading
                        h3 {{title}}
                    .panel-body
                      
                        table.table.table-hover
                          thead
                            tr
                              th First Name
                              th Last Name
                              th Piece
                              th Description
                          tbody
                            tr(ng-repeat='request in requests | orderBy:firstName')
                              td {{request.firstName}}
                              td {{request.lastName}}
                              td {{request.piece}}
                              td {{request.description}}
                              td  
                                a.btn(data-toggle='modal' data-target='#editRequest' ng-click='getRequest(request)')
                                  span.glyphicon.glyphicon-cog
                                a.btn(ng-click='deleteRequest(request)')
                                  span.glyphicon.glyphicon-trash.text-danger
                    .panel-footer
                      button.btn.btn-success(data-toggle='modal' data-target='#editRequest' type='button' ng-click='createRequest()') New Request
    .modal.fade(id='editRequest' tabindex='-1' role='dialog')
      .modal-dialog
          .modal-content
              .modal-header
                button.close(type='button' data-dismiss='modal' aria-label="Close")
                  span(aria-hidden='true')
                h4.modal-title Edit Request
              .modal-body
                  //- .row
                  //-   .col-sm-3
                  //-     img.img-thumbnail.pull-right(width='50px' height='50px')
                  form.form-horizontal
                    .for
                    .form-group
                      label.col-sm-3.control-label First name
                      .col-sm-9
                        input.form-control(type='text' ng-model='request.firstName')
                    .form-group
                      label.col-sm-3.control-label Last name
                      .col-sm-9
                        input.form-control(type='text' ng-model='request.lastName')
                    .form-group
                      label.col-sm-3.control-label Piece
                      .col-sm-9
                        select.form-control(ng-model='request.piece')
                          option(value="jacket") Jacket
                          option(value="jumpsuit") Jumpsuit
                          option(value="hat") Hat
                          option(value="gloves") Gloves
                          option(value="other") Other
                    .form-group
                      label.col-sm-3.control-label Description
                      .col-sm-9
                        textarea(rows="4" cols="50" ng-model='request.description')  
              .modal-footer 
                button.btn.btn-default(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button' ng-click='sendRequest()' data-dismiss='modal') Save Changes
