.row
    .col-md-6.col-md-offset-3
        h1 Oops....
.row
    .col-md-6.col-md-offset-3
        h2 We could not find the page you are requesting.
.row
    .col-md-6.col-md-offset-3
        img.thumbnail(src='/images/404.jpg' width='100%')

