//
   Created by Kyle Walter on 2/29/2016.

.users(ng-init='getUsers()')
    .container-fluid
        .row
            .col-sm-10.col-sm-offset-1
                .panel.panel-default
                    .panel-heading
                        h3 {{title}}
                    .panel-body
                        ul.nav.nav-pills
                          li.active(role='presentation')
                            a(href="#") All
                          li(role='presentation')
                            a(href="#" ng-click='setFilter("local.admin","true")') Admin
                          li(role='presentation')
                            a(href='#' ng-click='setFilter("local.admin","true")') Woodwinds
                          li(role='presentation')
                            a(href='#' ng-click='setFilter("local.admin","true")') Sousas
                          li(role='presentation')
                            a(href='#' ng-click='setFilter("local.admin","true")') Percussion
                        table.table.table-hover
                          thead
                            tr
                              th First Name
                                a.btn(ng-click='setOrder("firstName")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                              th Last Name
                                a.btn(ng-click='setOrder("lastName")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                              th Email
                                a.btn(ng-click='setOrder("email")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                              th Admin
                                a.btn(ng-click='setOrder("admin")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                          tbody
                            tr(ng-repeat='user in users | orderBy:order | filter:filter')
                              td {{user.local.firstName}}
                              td {{user.local.lastName}}
                              td {{user.local.email}}
                              td {{user.local.admin}}
                              td  
                                a.btn(data-toggle='modal' data-target='#editUser' ng-click='getUser(user)')
                                  span.glyphicon.glyphicon-cog
                                a.btn(ng-click='deleteUser(user)')
                                  span.glyphicon.glyphicon-trash.text-danger
                    .panel-footer
                      button.btn.btn-success(data-toggle='modal' data-target='#editUser' type='button' ng-click='createUser()') Add User
    .modal.fade(id='editUser' tabindex='-1' role='dialog')
      .modal-dialog
          .modal-content
              .modal-header
                button.close(type='button' data-dismiss='modal' aria-label="Close")
                  span(aria-hidden='true')
                h4.modal-title Edit {{user.local.firstName + ' ' + user.local.lastName}}
              .modal-body
                  //- .row
                  //-   .col-sm-3
                  //-     img.img-thumbnail.pull-right(width='50px' height='50px')
                  form.form-horizontal
                    .for
                    .form-group
                      label.col-sm-3.control-label First name
                      .col-sm-9
                        input.form-control(type='text' ng-model='user.local.firstName')
                    .form-group
                      label.col-sm-3.control-label Last name
                      .col-sm-9
                        input.form-control(type='text' ng-model='user.local.lastName')
                    .form-group
                      label.col-sm-3.control-label Email
                      .col-sm-9
                        input.form-control(type='email' ng-model='user.local.email')
                    .form-group
                      label.col-sm-3.control-label Admin
                      .col-sm-9
                        input(type='checkbox' ng-model='user.local.admin')
                    hr
                    .form-group
                      label.col-sm-3.control-label New Password
                      .col-sm-9
                        input(type='password' ng-model='user.local.password')
                    .form-group
                      label.col-sm-3.control-label Confirm
                      .col-sm-9
                        input(type='password' ng-model='confirmPassword')
              .modal-footer
                button.btn.btn-default(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button' ng-click='sendUser()' data-dismiss='modal') Save Changes
