doctype html
html(lang='en' ng-app='bandApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href='/')
  body
    block content
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/javascript/bandApp.js')
    script(src='/javascript/controllers/usersController.js')
    script(src='/javascript/controllers/instrumentsController.js')
    script(src='/javascript/controllers/maintenanceController.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
