extends layout

block content
  .container-fluid.login-page
    .video-container
      video(autoplay muted loop)
        source(src="/images/background-video.mp4" type="video/mp4")
    .row-fluid.login-bar
      .row
        .col-sm-offset-3.col-sm-6
          img(src="/images/mblogo.png", width='200px', alt="MB Man Logo")
      .row
        .col-sm-12
          p.h1 Band Uniform Management Utility
      .row
        .col-sm-offset-1.col-sm-10
          form(name='login', class="login-input", action='/auth/login', method='post')
            -if(messages.length > 0)
              .alert.alert-danger=messages
            br
            input(type='email', class="text", name='email', placeholder='Email')
            br
            input(type='password', class="text", name='password', placeholder='Password')
            br
            input(type='submit', class="signin-btn", value='Sign In')
            button(type='button', class="reqacc-btn" data-toggle='modal', data-target='#myModal')
              | Request Account
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                  h4#myModalLabel.modal-title Account Sign Up Form
                .modal-body
                  form(action='/auth/signup' name='signupForm' method='post')
                    .form-group
                      input(type='text', class="text", name='firstName', placeholder='First Name')
                    .form-group
                      input(type='text', class="text", name='lastName', placeholder='Last Name')
                    span(ng-show='signupForm.newemail.$touched && signupForm.newemail.$invalid') An Email is Required
                    .form-group
                      input(type='email', class="text", name='newemail', ng-model='newemail', placeholder='Email' required)
                    span(ng-show='signupForm.newpassword.$touched && signupForm.newpassword.$invalid') A Password is Required
                    .form-group
                      input(type='password', class="text", name='newpassword', ng-model='newpassword', placeholder='Password' required)
                    button(type='button' class="signup-btn" data-dismiss='modal') Close
                    &nbsp;&nbsp;
                    button(type='submit' class="signup-btn" ng-disabled='signupForm.newemail.$dirty && signupForm.newemail.$invalid || signupForm.newpassword.$dirty && signupForm.newpassword.$invalid') Submit
                .modal-footer
                  | .
      .row
        .col-sm-12
          h2.muted
            | Created by Titanburg
      .row
        .row
          |Kirk Powell
        .row
          | Kyle Walter
        .row
          | Kaitlyn Jarret
        .row
          | Andrew Korous
      .row.copyright
        p.muted
          | Copyright (c) 2016 Titanburg Technologies
