extends layout

block content
  .login-page
    .login-overlay
    .login-bar
      img(src="/images/mblogo.png", width='200px', alt="MB Man Logo")
      form(name='login', class="login-bar-contents", action='/login', method='post')
        input(type='email', name='email', placeholder='Email') 
        br
        input(type='password', name='password', placeholder='Password')
        br
        input(type='submit', value='Sign In')
  
