extends layout

block content
  - var parts = { 1: 'jacket', 2: 'jumpsuit', 3: 'hat', 4: 'glove', 5: 'other' }
  fieldset
    legend= title
    form(name="maintenance_request", method="post")
      label Piece:
      select(name="part")
        each part, i in parts
          option(value=i) #{parts}
      br
      label Descibe what is wrong:
      br
      textarea(rows="4" cols="50")
      br
      input(type="submit" value="submit")
      input(type="submit" value="clear")
