@import '../../bower_components/bootstrap/less/bootstrap.less';

body {
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-page {
  background: maroon;
  margin:0px;
  background-image: url('../images/loginCover.jpg');
  min-height: 600px;
  height: 100vh;
  background-size: cover;
}

.login-overlay {
  background: rgba(128,0,0,.6);
  min-height: 600px;
  height: 100vh;
  width: 100vw;
}

.login-bar {
  position: absolute;
  top: 0%;
  margin-right: 0px;
  margin-left: auto;
  background: white;
  width: 413px;
  min-height: 600px;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.login-input {
  margin-top: 25px;
}

.login-input input {
  padding:5px;
  margin: 5px;
}

.login-bar img {
  margin-top: 15%;
  width: 150px;
}

.group-name h2{
  margin-top: 50px;
  font-weight: normal;
  font-size: 25px;
}


.creators {
  text-align: left;
  display: inline-block;
}

.copyright {
  position: relative;
  margin-top: 230px;
  height: 30px;
  p {
    position: absolute;
    left: 75px;
    bottom: 0px;
  }
}

.login-input a{
  text-decoration: none;
  color: rgba(128,0,0,.6);
}

.login-input a:hover {
  color: rgba(128,0,0,1);
}

.signin-btn {
  background-color: white;
  border-style: solid;
  border-color: maroon;
  color: maroon;
}

.signin-btn:hover {
  background-color: maroon;
  color: white;
}

.signup-btn {
  background-color: white;
  padding: 5px;
  color: maroon;
  border-style: solid;
  border-color: maroon;
}

.reqacc-btn {
  background-color: white;
  border-width: 0px;
  color: rgba(128,0,0,0.6);
}

.signup-btn:hover {
  background-color: maroon;
  color: white;
}

.reqacc-btn:hover {
  color: rgba(128,0,0,1);
}

.login-bar .text {
  border-style: solid;
  border-color: maroon;
  padding: 5px;
}

.muted {
  color: rgba(0,0,0,.6)
}

.login-bar h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.alert {
  display:inline-block;
}