//
   Created by Kyle Walter on 2/29/2016.

.users(ng-init='getUsers()')
    .container-fluid
        .row
            .col-sm-10.col-sm-offset-1
                .panel.panel-default
                    .panel-heading
                        h3 {{title}}
                    .panel-body
                        ul.nav.nav-pills
                          li(role='presentation' ng-class='{active:isSelected(1)}')
                            a(href="#" ng-click='setFilter();editSelection(1)') All
                          li(role='presentation' ng-class='{active:isSelected(2)}')
                            a(href="#" ng-click='setFilter("true");editSelection(2)') Admin
                          li(role='presentation' ng-class='{active:isSelected(3)}')
                            a(href='#' ng-click='setFilter("Woodwinds");editSelection(3)') Woodwinds
                          li(role='presentation' ng-class='{active:isSelected(4)}')
                            a(href='#' ng-click='setFilter("Sousas");editSelection(4)') Sousas
                          li(role='presentation' ng-class='{active:isSelected(5)}')
                            a(href='#' ng-click='setFilter("Percussion");editSelection(5)') Percussion
                        table.table.table-hover
                          thead
                            tr
                              th First Name
                                a.btn(ng-click='setOrder("firstName")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                              th Last Name
                                a.btn(ng-click='setOrder("lastName")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                              th Email
                                a.btn(ng-click='setOrder("email")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                              th Admin
                                a.btn(ng-click='setOrder("admin")')
                                  span.glyphicon.glyphicon-sort-by-alphabet
                          tbody
                            tr(ng-repeat='user in users | orderBy:order | filter:filter')
                              td {{user.local.firstName}}
                              td {{user.local.lastName}}
                              td {{user.local.email}}
                              td {{user.local.admin}}
                              td  
                                a.btn(data-toggle='modal' data-target='#editUser' ng-click='getUser(user)')
                                  span.glyphicon.glyphicon-cog
                                a.btn(ng-click='deleteUser(user)')
                                  span.glyphicon.glyphicon-trash.text-danger
                    .panel-footer
                      button.btn.btn-success(data-toggle='modal' data-target='#editUser' type='button' ng-click='createUser()') Add User
    .modal.fade(id='editUser' tabindex='-1' role='dialog')
      .modal-dialog
          .modal-content
              .modal-header
                button.close(type='button' data-dismiss='modal' aria-label="Close")
                  span(aria-hidden='true')
                h4.modal-title Edit {{user.local.firstName + ' ' + user.local.lastName}}
              .modal-body
                  //- .row
                  //-   .col-sm-3
                  //-     img.img-thumbnail.pull-right(width='50px' height='50px')
                  form.form-horizontal
                    .simpleView
                      h3 User Info
                      .form-group
                        label.col-sm-3.control-label First name
                        .col-sm-9
                          input.form-control(type='text' ng-model='user.local.firstName')
                      .form-group
                        label.col-sm-3.control-label Last name
                        .col-sm-9
                          input.form-control(type='text' ng-model='user.local.lastName')
                      .form-group
                        label.col-sm-3.control-label Email
                        .col-sm-9
                          input.form-control(type='email' ng-model='user.local.email')
                      .form-group
                        label.col-sm-3.control-label Admin
                        .col-sm-9
                          input(type='checkbox' ng-model='user.local.admin')
                      hr
                      h3 Password
                      .form-group
                        label.col-sm-3.control-label New Password
                        .col-sm-9
                          input(type='password' ng-model='user.local.password')
                      .form-group
                        label.col-sm-3.control-label Confirm
                        .col-sm-9
                          input(type='password' ng-model='confirmPass')
                    .advancedView(ng-hide='simpleView')
                      hr
                      h3 Sizes
                      .form-group
                          label.col-sm-3.control-label Sex
                          .col-sm-9
                              label.radio-inline
                                  input(type='radio' name='sex' value='true' ng-model='user.sizes.sex')
                                  | M
                              label.radio-inline
                                  input(type='radio' name='sex' value='false' ng-model='user.sizes.sex')
                                  | F
                      .form-group
                          label.col-sm-3.control-label Chest
                          .col-sm-9
                              .input-group
                                  span.input-group-addon #
                                  input.form-control(type='text' ng-model='user.sizes.chest')
                      .form-group
                          label.col-sm-3.control-label Arm Length
                          .col-sm-9
                              .input-group
                                  span.input-group-addon #
                                  input.form-control(type='text' ng-model='user.sizes.armlength')
                      .form-group
                          label.col-sm-3.control-label Waist
                          .col-sm-9
                              .input-group
                                  span.input-group-addon #
                                  input.form-control(type='text' ng-model='user.sizes.waist')
                      .form-group
                          label.col-sm-3.control-label Seat
                          .col-sm-9
                              .input-group
                                  span.input-group-addon #
                                  input.form-control(type='text' ng-model='user.sizes.seat')
                      .form-group
                          label.col-sm-3.control-label Outseam
                          .col-sm-9
                              .input-group
                                  span.input-group-addon #
                                  input.form-control(type='text' ng-model='user.sizes.outseam')
                      .form-group
                          label.col-sm-3.control-label Shoe
                          .col-sm-9
                              .input-group
                                  span.input-group-addon #
                                  input.form-control(type='text' ng-model='user.sizes.shoe')
                      .form-group
                          label.col-sm-3.control-label Hat
                          .col-sm-9
                              select.form-control(type='text' ng-model='user.sizes.hat')
                                  option S
                                  option M
                                  option L
                      .form-group
                          label.col-sm-3.control-label Glove
                          .col-sm-9
                              select.form-control(type='text' ng-model='user.sizes.glove')
                                  option S
                                  option M
                                  option L
                      .form-group
                          label.col-sm-3.control-label T-shirt
                          .col-sm-9
                              select.form-control(type='text' ng-model='user.sizes.tshirt')
                                  option S
                                  option M
                                  option L
                      hr
                      h3 Other
                      .form-group
                          label.col-sm-3.control-label Instrument
                          .col-sm-9
                              select.form-control(type='text' ng-model='user.other.instrument')
                                  option(ng-repeat='instrument in instruments') {{instrument.name}}
              .modal-footer
                a.btn.pull-left(ng-click='toggleMode()') Advanced 
                button.btn.btn-default(type='button' ng-click='simpleOff()' data-dismiss='modal') Close
                button.btn.btn-primary(type='button' ng-click='sendUser()' data-dismiss='modal') Save Changes
